<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <title>Shotgeneratorn</title>
    @Styles.Render("~/bundles/styles")
</head>
<body ng-app="shotgeneratorApp">
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/scripts")
</body>
</html>