<div class="center-block text-center start-teaser">
    <img class="logo" />
    <div class="col-md-12 col-xs-12">


        <h1>Shotgeneratorn</h1>
        @*<a href="#">Registrera dig här för mer innehåll</a>
            <a href="#">eller kör igång utan att registrera dig!</a>*@

        <div class="button-layout">

            @Html.ActionLink("Logga in med Facebook", "Index", null, new { @class = "btn btn-default" })
            @Html.ActionLink("eller fortsätt utan registrering", "Customize", "Generator", null, new { @class = "btn btn-default" })

        </div>
    </div>
</div>